<h1> {{title}} </h1>
<ul class="news">
    <div *ngFor="let oneNews of news"
    [class.selected]="oneNews === selectedNews"
    (click)="onSelect(oneNews)"
    [routerLink]="['/news', oneNews.id]">
    <div class="media">
        <div class="d-flex align-self-start mr-3">
            {{oneNews.dateTime}}
        </div>
        <div class="media-body">
            <h5 class="mt-0">{{oneNews.title}}</h5>
            <p>{{oneNews.shortDescription}}
        </div>
    </div>
    {{oneNews.author}} {{oneNews.dateTime}}
    <br><br>
    </div>
    <br>
</ul>

